rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /tests/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null &&
        firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == "admin";
    }

    match /students/{studentId}/profile/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null &&
        (firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == "admin" ||
         firestore.get(/databases/(default)/documents/students/$(studentId)).data.authUid == request.auth.uid);
    }

    match /director/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null &&
        firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == "admin";
    }
    match /{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
