rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isAdmin() {
      return signedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    }

    match /users/{userId} {
      allow read: if signedIn() && (request.auth.uid == userId || isAdmin());
      allow create, update, delete: if isAdmin();
    }


    match /studentDirectory/{studentId} {
      allow read: if signedIn();
      allow create, update, delete: if isAdmin();
    }

    match /students/{studentId} {
      allow read: if isAdmin() || (signedIn() && resource.data.authUid == request.auth.uid);
      allow create, delete: if isAdmin();
      allow update: if isAdmin() ||
        (signedIn() &&
         resource.data.authUid == request.auth.uid &&
         request.resource.data.diff(resource.data).affectedKeys().hasOnly([
           "name", "fatherName", "motherName", "address", "mobile",
           "dob", "gender", "photoUrl"
         ]));
    }

    match /director/{directorId} {
      allow read: if signedIn();
      allow create, update, delete: if isAdmin();
    }

    match /teachers/{teacherId} {
      allow read, create, update, delete: if isAdmin();
    }

    match /notices/{noticeId} {
      allow read: if signedIn();
      allow create, update, delete: if isAdmin();
    }

    match /tests/{testId} {
      allow read: if signedIn();
      allow create, update, delete: if isAdmin();
    }

    match /attendance/{dateId} {
      allow read: if signedIn();
      allow create, update, delete: if isAdmin();
    }

    match /homework/{homeworkId} {
      allow read: if signedIn();
      allow create, update, delete: if isAdmin();
    }

    match /fees/{studentId} {
      allow read: if isAdmin() || (signedIn() && get(/databases/$(database)/documents/students/$(studentId)).data.authUid == request.auth.uid);
      allow create, update, delete: if isAdmin();
    }

    match /fees/{studentId}/months/{monthId} {
      allow read: if isAdmin() || (signedIn() && get(/databases/$(database)/documents/students/$(studentId)).data.authUid == request.auth.uid);
      allow create, update, delete: if isAdmin();
    }
  }
}
